In [1]:
import pandas as pd

In [2]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

In [3]:
myvar = pd.DataFrame(data)

In [4]:
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [6]:
print(myvar.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [7]:
print(myvar.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [9]:
print(myvar.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [10]:
data = {
    "Name": ["Karan", "Rohan", "Meena"],
    "Age": [25, 30, 22],
    "City": ["Mumbai", "Pune", "Nashik"]
}

In [11]:
df = pd.DataFrame(data)

In [12]:
print(df)

    Name  Age    City
0  Karan   25  Mumbai
1  Rohan   30    Pune
2  Meena   22  Nashik

In [13]:
df.rename(columns={"Name": "Full Name"}, inplace=True)

In [14]:
print(df)

  Full Name  Age    City
0     Karan   25  Mumbai
1     Rohan   30    Pune
2     Meena   22  Nashik

In [15]:
df.rename(columns={"Full Name": "Name"}, inplace=True)

In [16]:
print(df)

    Name  Age    City
0  Karan   25  Mumbai
1  Rohan   30    Pune
2  Meena   22  Nashik

In [17]:
df.isnull().sum()

Name    0
Age     0
City    0
dtype: int64

In [18]:
df.fillna(0, inplace=True)

In [19]:
print(df)

    Name  Age    City
0  Karan   25  Mumbai
1  Rohan   30    Pune
2  Meena   22  Nashik