In [2]:
import pandas as pd

In [3]:

df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Karan', 'Rohan', 'Meena'],
    'age': [25, 30, 22]
})

df2 = pd.DataFrame({
    'id': [1, 2, 4],
    'city': ['Mumbai', 'Pune', 'Delhi']
})

In [4]:
print(df1)

   id   name  age
0   1  Karan   25
1   2  Rohan   30
2   3  Meena   22

In [5]:
print(df2)

   id    city
0   1  Mumbai
1   2    Pune
2   4   Delhi

In [6]:
merged = pd.merge(df1,df2,on="id")

In [7]:
print(merged)

   id   name  age    city
0   1  Karan   25  Mumbai
1   2  Rohan   30    Pune

In [12]:

data = {
    "Name": ["Amit", "Riya", "John"],
    "Age": [25, 30, 22],
    "City": ["Delhi", "Mumbai", "Pune"]
}
df = pd.DataFrame(data)
print(df)

   Name  Age    City
0  Amit   25   Delhi
1  Riya   30  Mumbai
2  John   22    Pune

In [13]:
df.groupby("City")["Age"].mean()

City
Delhi     25.0
Mumbai    30.0
Pune      22.0
Name: Age, dtype: float64