In [1]:
import pandas as pd

In [2]:
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}

In [3]:
df = pd.DataFrame(data)

In [4]:
print(df)

      Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

In [5]:
print(df.index)

RangeIndex(start=0, stop=5, step=1)

In [6]:
df_index = df.set_index('Name')

In [7]:
print(df_index)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

In [8]:
df_reset = df.reset_index

In [9]:
print(df_reset)

<bound method DataFrame.reset_index of       Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000>

In [11]:
row = df.loc[df['Name'] == 'Alice']

In [12]:
print(row)

    Name  Age  Gender  Salary
1  Alice   30  Female   55000

In [13]:
df_index = df.set_index('Name')

In [15]:
print(df_index)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

In [16]:
df_reset = df.reset_index

In [17]:
age_column = df['Age']

In [18]:
print(age_column)

0    25
1    30
2    22
3    35
4    28
Name: Age, dtype: int64

In [19]:
second_row = df.iloc[1]

In [20]:
print(second_row)

Name       Alice
Age           30
Gender    Female
Salary     55000
Name: 1, dtype: object

In [21]:
subset = df.loc[0:2,['Name','Age']]

In [22]:
print(subset)

    Name  Age
0   John   25
1  Alice   30
2    Bob   22

In [26]:
filtered_data = df[df['Age']>25]

In [27]:
print(filtered_data)

      Name  Age  Gender  Salary
1    Alice   30  Female   55000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000

In [28]:
salary_at_index_2 = df.at[2,'Salary']

In [29]:
print(salary_at_index_2)

40000