In [1]:
import pandas as pd
s = pd.Series([10, 20, 30], index=["a", "b", "c"])

In [2]:
print(s)

a    10
b    20
c    30
dtype: int64

In [3]:
df = pd.DataFrame({
    "Name": ["A", "B", "C"],
    "Age": [25, 30, 35]
})

In [4]:
print(df)

  Name  Age
0    A   25
1    B   30
2    C   35

In [5]:
data = {
    "Name": ["Amit", "Priya", "Ravi"],
    "Age": [25, 28, 22],
    "City": ["Mumbai", "Delhi", "Pune"]
}
df = pd.DataFrame(data)
df

    Name  Age    City
0   Amit   25  Mumbai
1  Priya   28   Delhi
2   Ravi   22    Pune

In [6]:
df.head()

    Name  Age    City
0   Amit   25  Mumbai
1  Priya   28   Delhi
2   Ravi   22    Pune

In [8]:
df = pd.read_csv("student.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   Gender  10 non-null     object
 3   City    10 non-null     object
 4   Marks   10 non-null     int64
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [10]:
df.describe()

             Age      Marks
count  10.000000  10.000000
mean   22.700000  85.700000
std     1.337494   6.236986
min    21.000000  76.000000
25%    22.000000  81.000000
50%    22.500000  86.500000
75%    23.750000  89.750000
max    25.000000  95.000000

#Series Exercise

In [13]:
df.shape

(10, 5)

In [12]:
df.shape

(10, 5)

In [14]:
df.to_csv("output.csv", index=False)

In [1]:
a = [1,2,3]

In [3]:
import pandas as pd

In [4]:
myvar = pd.Series(a)

In [5]:
print(myvar)

0    1
1    2
2    3
dtype: int64

In [6]:
print(myvar[0])

1

In [7]:
a = [1,2,3]

In [9]:
myvar = pd.Series(a,index=["x","y","z"])

In [10]:
print(myvar)

x    1
y    2
z    3
dtype: int64

In [11]:
print(myvar["y"])

2

In [12]:
calories = {"day1": 420, "day2": 380, "day3": 390}

In [13]:
myvar = pd.Series(calories)

In [14]:
print(myvar)

day1    420
day2    380
day3    390
dtype: int64